.inspirations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8% 0 4%;
}

.search-field .MuiOutlinedInput-root {
  min-width: 550px;
  border-radius: 40px;
  padding: 10px;
}

.filter-box {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.category-button.MuiButton-root {
  border-radius: 6px;
  color: white;
  background-color: rgb(22, 16, 16);
  padding: 10px 20px;
  min-width: 160px;
  text-transform: none;
  font-size: 17px;
  margin-right: 15px;
  font-weight: normal;
}

.category-button.MuiButton-root:hover {
  background-color: rgb(71, 67, 67);
}

.sort-label.MuiInputLabel-root {
  color: black;
  font-size: 18px;
}

.sort-label.MuiInputLabel-root.Mui-focused {
  color: black;
}

.sort-select.MuiOutlinedInput-root {
  min-width: 220px;
}

.sort-select .MuiSvgIcon-root {
  color: black;
}

.rooms-container {
  display: flex;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap;
  gap: 18px;
}

.room-item {
  position: relative;
  min-width: 500px;
  max-width: 500px;
  min-height: 250px;
  max-height: 250px;
  overflow: hidden;
}

.room-image .MuiCardMedia-root {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.favorite-icon.MuiSvgIcon-root {
  position: absolute;
  bottom: 20px;
  right: 40px;
  color: #dbd4d4;
  cursor: pointer;
  font-size: 1.8rem;
}

.favorite-icon.MuiSvgIcon-root:hover {
  color: #7a7a7a;
}